
mixin stylesheet (href)
	link(rel='stylesheet' href='#{href}')

doctype html
html
	head
			meta(charset='utf-8')
			title stalwart

			+stylesheet('static.css')
			+stylesheet('gen.css')

	body
		.main.feature
			div     abcdef <i>abcdef</i> <b>abcdef</b>
			.medium abcdef <i>abcdef</i> <b>abcdef</b>
			.big    abcdef <i>abcdef</i> <b>abcdef</b>

		.accent.feature accent:
			.fg foreground
			.bg background

		.focus.feature focus:
			.hl highlight line
			.hl <b>highlight</b> line
			.hl <i>highlight</i> line
			.hl <span class='ac'>highlight</span> line

			.sl selection line
			.sl <b>selection</b> line
			.sl <i>selection</i> line
			.sl <span class='ac'>selection</span> line

		.string.feature string:
			div: span "string"
			div: span 'string'

		.comment.feature comment:
			div: span // comment
			div: span /* comment */

		- base16 = schema.base16
		- colornames = base16.names
		- base16 = base16.colors
		- function bg (name) { return 'background: ' + name + ';' }
		- function fg (name) { return 'color: ' + name + ';' }
		table.feature
			each name in colornames
				tbody
					tr(style='#{ bg(base16.bg[name].bright) }')
						each name in colornames
							td(style='#{ fg(base16.fg[name].bright) }') #{name}

					tr(style='#{ bg(base16.bg[name].bright) }')
						each name in colornames
							td(style='#{ fg(base16.fg[name].normal) }') #{name}

					tr(style='#{ bg(base16.bg[name].normal) }')
						each name in colornames
							td(style='#{ fg(base16.fg[name].bright) }') #{name}

					tr(style='#{ bg(base16.bg[name].normal) }')
						each name in colornames
							td(style='#{ fg(base16.fg[name].normal) }') #{name}
